{% extends 'admin/change_form.html' %}
{% load static %}
{% load l10n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>
{% endblock %}

{% block content %}
    {{block.super}}

    <h2>Histórico de <a href="/admin/api/price/?q={{adminform.form.instance.ean}}">preços</a></h2>
    <div style="display: flex">
        <div style="width: 50%;">
            <table>
                <thead>
                    <tr>
                      <th>Preço (R$)</th>
                      <th>Data de vigor do preço</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for price in  adminform.form.instance.prices %}
                      <tr>
                          <td>{{ price.price }}</td>
                          <td>{{ price.created_at }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>
          <div style="width: 50%; max-width: 600px;">
              <canvas id="myChart"></canvas>
          </div>
    </div>
    
    

      <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('myChart').getContext('2d');
            const chartData = JSON.parse(`[
                {% for price in  adminform.form.instance.prices %}
                {
                    "x": "{{ price.created_at.isoformat }}",
                    "y": {{ price.price|unlocalize }}
                }{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]`);
    
            // Parse the dates to JS
            chartData.forEach((d) => {d.x = new Date(d.x);});
            console.log(chartData)
    
            // Add your javascript chart presentation below this comment
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  datasets: [{
                      label: 'Variação de preço',
                      data: chartData,
                      backgroundColor: 'rgba(61,61,131,0.5)',
                  }]
              },
              options: {
                  responsive: true,
                  scales: {
                      xAxes: [{
                          type: 'time',
                          time: {
                              unit: 'day',
                              round: 'day',
                              displayFormats: {
                                  day: 'MMM D',
                              },
                          },
                      }, ],
                      yAxes: [{
                          ticks: {
                              beginAtZero: true,
                          },
                      }, ],
                  }
              }
          });
    
        });
        </script>
{% endblock %}